<div class="row">
	
	<div class="col-xs-3">
		<div class="panel panel-default">
  			<div class="panel-body">
				<p>STATS</p>
 			 </div>
 		</div>
	</div>
	
	<div class="col-xs-6">
		<div class="panel panel-default">
  			<div class="panel-body">
				<p>FEED</p>
 			 </div>
 		</div>
	</div>
	
	<div class="col-xs-3">
		<div class="panel panel-default">
  			<div class="panel-body">
				<p>ABOUT</p>
 			 </div>
 		</div>
	</div>

</div>
<!-- row 2 -->
<div class="row">
	
	<div class="col-xs-3">
		<div class="panel panel-default">
  			<div class="panel-body">
				<p>TRENDS</p>
 			 </div>
 		</div>
	</div>

</div>





