<!-- jumbotron -->
<div class="row">
	
	<div class="col-xs-12">
		<div class="jumbotron">
			<%= @username %>
 		</div>
	</div>

</div>
<!-- row 1 -->
<div class="row">
	
	<div class="col-xs-3">
		<div class="panel panel-default">
  			<div class="panel-body">
				<p>PROFILE</p>
 			 </div>
 		</div>
	</div>
	
	<div class="col-xs-6">
		<div class="panel panel-default">
  			<div class="panel-body">
				<p>TWEETS</p>
 			 </div>
 		</div>
	</div>
	
	<div class="col-xs-3">
		<div class="panel panel-default">
  			<div class="panel-body">
				<p>HOW TO FOLLOW</p>
 			 </div>
 		</div>
	</div>

</div>
<!-- row 2 -->
<div class="row">
	
	<div class="col-xs-3 col-xs-offset-9">
		<div class="panel panel-default">
  			<div class="panel-body">
				<p>TRENDS</p>
 			 </div>
 		</div>
	</div>

</div>





